/* === IMPORT DAS VARIAVEIS === */
@import url('../../css/variaveis.css');

html, body {
  background-color: var(--cor-fundo);
  font-family: 'Share Tech Mono', monospace;
}

.bg-loading{
  background: radial-gradient(ellipse at center, #1a1a1a 0%, #0f0f0f 40%, #050505 80%, #000000 100%)
}
.terminal-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.terminal-glow {
  color: var(--ciano);
  font-family: 'Share Tech Mono', monospace;
  font-size: 26px;
  text-shadow: 0 0 3px var(--verdinho), 0 0 6px var(--verdinho), 0 0 12px var(--verdinho);
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2rem;
  width: 60%;
  max-width: 900px;
  border: 2px solid #00f6ff44;
  border-radius: 10px;
  box-shadow: 0 0 30px #00f6ff33;
  animation: flicker 1.5s infinite alternate;
}

.terminal-line {
  margin-bottom: 8px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.terminal-cursor {
  display: inline-block;
  animation: blink 1s infinite;
  color: var(--ciano);
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes flicker {
  from { opacity: 1; }
  to { opacity: 0.98; }
}

/* === XXS: Menor que 375px === */
@media (max-width: 374.98px) {
  .terminal-glow {
    font-size: 14px;
    padding: 1rem;
    width: 95%;
  }

  .terminal-container {
    flex-direction: column;
    padding: 1rem;
    text-align: left;
  }
}

/* === XS: Menor que 576px === */
@media (max-width: 575.98px) {
  .terminal-glow {
    font-size: 14px;
    padding: 1.2rem;
    width: 95%;
  }

  .terminal-container {
    flex-direction: column;
    padding: 1.2rem;
    text-align: left;
  }
}

/* === SM: Entre 576px e 767.98px === */
@media (min-width: 576px) and (max-width: 767.98px) {
  .terminal-glow {
    font-size: 18px;
    padding: 1.5rem;
    width: 85%;
  }
  .terminal-container {
    flex-direction: column;
    padding: 1.2rem;
    text-align: left;
  }
}

/* === MD: Entre 768px e 991.98px === */
@media (min-width: 768px) and (max-width: 991.98px) {
  .terminal-glow {
    font-size: 20px;
    padding: 1.7rem;
    width: 75%;
  }

  .terminal-container {
    flex-direction: column;
    padding: 1.2rem;
    text-align: left;
  }
}

/* === LG: Entre 992px e 1199.98px === */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .terminal-glow {
    font-size: 22px;
    padding: 1.8rem;
    width: 70%;
  }

  .terminal-container {
    flex-direction: column;
    padding: 1.2rem;
    text-align: left;
  }
}

/* === XL: Entre 1200px e 1399.98px === */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .terminal-glow {
    font-size: 24px;
    padding: 2rem;
    width: 65%;
  }

  .terminal-container {
    flex-direction: column;
    padding: 1.2rem;
    text-align: left;
  }
}

